<h1>OOP Concept</h1>

In [ ]:
class Face:
  def __init__ (self, eye, ear, nose, mouth):
    # set attribute
    self.eye = eye
    self.ear = ear
    self.nose = nose
    self.mouth = mouth

In [ ]:
face = Face(2, 2, 1, 1)

In [ ]:
print(face)

<__main__.Face object at 0x7ae6f274c1f0>

In [ ]:
face.eye

2

In [ ]:
face2 = Face(3, 2, 1, 1)

In [ ]:
face2.eye

3

<h2>Task : ให้สร้าง class student โดย มีตัวแปรดังนี้</h2>
<ol>
  <li>ข้อมูลของ น้ำหนัก</li>
  <li>ข้อมูลของ ส่วนสูง</li>
  <li>ข้อมูลของ อายุ</li>
  <li>ข้อมูลของ เกรด</li>
  <li>ข้อมูลของ ชื่อ</li>
  <li>ข้อมูลของ นามสกุล</li>
</ol>

In [ ]:
class Student:
  def __init__ (self, weight, hight, age, grade, name,surname):
    # set attribute
    self.weight = weight
    self.hight = hight
    self.age = age
    self.grade = grade
    self.name = name
    self.surname = surname
  # method
  def showStudentData(self):
    print("Data of : " + self.name + " " + self.surname)
    print("weight : " + str(self.weight))
    print("hight : " + str(self.hight))
    print("age : " + str(self.age))

  def hightToInch(self):
    inchHeight = self.hight * 0.3937
    return inchHeight

In [ ]:
student = Student(60,160,18,3.87,"Naphat","Sintuwattanawiboon")

In [ ]:
student.showStudentData()

Data of : Naphat Sintuwattanawiboon
weight : 60
hight : 160
age : 18

In [ ]:
result = student.hightToInch()
print(result)

62.992

<h2>คุณสมบัติของ object</h2>

<h3>Encapsulation : เข้ารหัส</h3>
<p> มันไม่สามารถเอาข้อมูลใน object ออกมาดูได้ผ่านการ print , มันจะต้องเรียกใช้ method ที่อยู่ใน class เท่านั้น</p>

In [ ]:
print(student)

<__main__.Student object at 0x7ae70ec937f0>

In [ ]:
student.showStudentData()

Data of : Naphat Sintuwattanawiboon
weight : 60
hight : 160
age : 18

<h3>Inheritance : การสืบทอด</h3>

In [ ]:
class StudentUpgrade(Student):
  def convertWightToPound(self):
    wightConvertResult = self.weight * 2.2046
    return wightConvertResult

In [ ]:
studentUpgrade = StudentUpgrade(60,160,18,3.87,"Naphat","Sintuwattanawiboon")

In [ ]:
studentUpgrade.showStudentData()

Data of : Naphat Sintuwattanawiboon
weight : 60
hight : 160
age : 18

In [ ]:
studentUpgrade.convertWightToPound()

132.276

In [ ]:
studentUpgrade.hightToInch()

62.992

<h3>Task : ให้สร้าง class ที่เป็นองค์ประกอบของรถยนต์ โดยมีตัวแปร ดังนี้</h3>
<ol>
  <li>จำนวนล้อ</li>
  <li>ความยาวของตัวรถ</li>
  <li>ความกว้างของตัวรถ</li>
  <li>ยี่ห้อ</li>
  <li>รุ่น</li>
  <li>ราคา</li>
</ol>
<p>และมี method ดังนี้</p>
<ol>
  <li>run : ให้ทำการ print run</li>
  <li>data : ให้ print ข้อมูลของตัวรถ</li>
</ol>

<p>ให้ทำการสร้าง class ตัวลูก ชื่อว่า CarPrice</p>
<ol>
  <li>PriceCalculate10Month : เอาราคามาหารสิบเดือน</li>
  <li>PriceCalculate24Month : เอาราคามาหาร24เดือน</li>
</ol>

In [ ]:
print("run")

run

In [9]:
class Car:
  def __init__ (self, numberofwheels, Lengthofthecar, Widthofthecar, brand, model,  price):
    # set attribute
    self.numberofwheels = numberofwheels
    self.Lengthofthecar = Lengthofthecar
    self.widthofthecar = Widthofthecar
    self.brand = brand
    self.model = model
    self.price = price
  # method
  def Data(self):
    print("Data of : " + self.brand + " " + self.model)
    print("numberofwheels : " + str(self.numberofwheels))
    print("Lengthofthecar  : " + str(self.Lengthofthecar))
    print("widthofthecar : " + str(self.widthofthecar))
    print("brand: " + str(self.brand))
    print("price " + str(self.price))

  def Run(self):
    print("run")

class CarPrice(Car):
    def PriceCalculate10Month(self):
      PriceCalculate10Month  = self.price/ 10
      return  PriceCalculate10Month

    def PriceCalculate24Month(self):
      PriceCalculate24Month = self.price/ 24
      return  PriceCalculate24Month

car = Car(4,200,250,"Ford" ,"Mustang 5.0L V8 GT Coupe Performance Pack" , 4999000)

In [10]:
car

In [11]:
car.Data()

Data of : Ford Mustang 5.0L V8 GT Coupe Performance Pack
numberofwheels : 4
Lengthofthecar  : 200
widthofthecar : 250
brand: Ford
price 4999000

In [12]:
car.Run()

run

In [13]:
car = CarPrice(4,200,250,"Ford" ,"Mustang 5.0L V8 GT Coupe Performance Pack" , 4999000)

In [14]:
car.PriceCalculate10Month()

499900.0

In [16]:
car.PriceCalculate24Month()

208291.66666666666